h2 {
    margin-top: 50px;
    text-decoration:underline;
}

details {
    border-radius: 4px;
    padding: 5px;
    outline: none;
    cursor: pointer;
}

summary {
    font-weight: bold;
    margin: 5px;
    padding: 3px;
}

*:focus {
    outline: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 100px;
}

.my-modal {
    margin-top: 20px;
}

.modal-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.multicolumn-3 {
    columns: 3;
}
