h3 {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
}

h4 {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.fixed-gutter-grid:after {
    content: ' ';
    display: table;
    clear: both;
}

.fixed-gutter-grid .column {
    width: calc((100% - (11 * 20px)) / 12);
    margin-right: 20px;
    float: left;
    height: 80px;
    background: rgba(0, 0, 255, 0.25);
}

    .fixed-gutter-grid .column:last-child {
        margin-right: 0;
    }

body {
    overflow-x: hidden;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -10px;
    margin-right: -10px;
}

    .flexbox > div {
        box-sizing: border-box;
        margin: 0 10px;
    }

    .flexbox .content {
        flex-basis: calc(75% - 20px);
        background: rgba(255, 0, 0, 0.25);
    }

    .flexbox .sidebar {
        flex-basis: calc(25% - 20px);
        background: rgba(255, 255, 0, 0.25);
    }
