body {
    /* if the user's computer has Arial, use that, if not Helvetica, 
  then fall back to the operating system's default sans-serif font */
    font-family: Goudy Old Style,Garamond,Big Caslon,Times New Roman,serif;
}

h1 {
    font-family: Papyrus,fantasy;
    font-size: 3.5em;
    text-shadow: 2px 2px 0px #ffd800;
}

h3 {
    /*display: none;*/
    font-family: 'Wendy One', sans-serif;
    /*text-transform: uppercase;*/
    /*text-decoration: overline;*/
}

p {
    font-family: 'Big Shoulders Text', cursive;
    line-height: 30px;
    font-weight: normal;
    width: 60%;
    margin: 30px auto;
    text-align: justify;
    /*text-indent: 100px;*/
    /*letter-spacing: 3px;*/
    /*word-spacing: 5px;*/
}

a {
    /*display: block;*/
    font-family: Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace;
    background: #00ffff;
    text-decoration: none;
    font-weight: bolder;
    padding: 3px 8px 3px 2px;
    border-radius: 5px 12px;
}

    a:hover {
        font-style: italic;
    }

strong {
    color: deeppink;
    font-size: 2rem;
    /*font-variant: small-caps;*/
}
