html,
body {
  /* margin: 0px; */
}

* {
  outline: 2px solid red;
}

.grid {
  display: grid;
  grid-template-columns: 150px auto 150px;
  grid-template-rows: repeat(3, 100px);
  grid-gap: 1em;
  grid-template-areas:
    "header header header"
    "sidebar-1 section sidebar-2"
    "footer footer footer";
}

/*#Method 1: Specifying Grid Columns*/
header {
  grid-row: 1;
  grid-column: 1 / 4;
}

.sidebar-left {
  grid-row: 2;
  grid-column: 1 / 2;
}

section {
  grid-row: 2;
  grid-column: 2 / 3;
}

.sidebar-right {
  grid-row: 2;
  grid-column: 3 / 4;
}

footer {
  grid-row: 3;
  grid-column: 1 / 4;
}

/*#Method 2: Condense the Markup from the First Method*/
header,
footer {
  grid-column: 1 / 4;
}

/*#Method 3: Defining Grid Template Areas*/
header {
  grid-area: header;
}

footer {
  grid-area: footer;
}

.sidebar-left {
  grid-area: sidebar-1;
}

section {
  grid-area: section;
}

.sidebar-right {
  grid-area: sidebar-2;
}
